annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
fastapi==0.136.1
h11==0.16.0
idna==3.13
pydantic==2.13.3
pydantic_core==2.46.3
python-multipart==0.0.26
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
SQLAlchemy==2.0.43
PyMySQL==1.1.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
Markdown==3.7
reportlab==4.4.1
playwright==1.54.0
